<section class="relative h-[85vh] min-h-[600px] flex items-center overflow-hidden">
    <div class="absolute inset-0 z-0">
        <img alt="Material de Ortopedia" class="w-full h-full object-cover grayscale opacity-10"
            src="https://lh3.googleusercontent.com/aida-public/AB6AXuAlt7CCOx1UGuEU9xLLiM-5FGseiY_ozGXGEKxBJtxyDFTVDBjp26HeNjA_hayRnC_e61OYOC6kGWlVMwelbxk_o8AtM9m75CwsJib1XFvSff0wSnlbfB5__oPK74vqmx-7N32H01Nc5299NpZEhC9hYQw5U-TfImyU_8Fu98JMe32EVcLqsGP8i6OKONMh27tmHLVNUAlFmZAPUJ8y2aIUUg02LLEUBwJSqm65Q-Con-MULOv1Ltx5ymkbc9uaSl3v1mweehgpu1NK" />
        <div class="absolute inset-0 bg-gradient-to-r from-white via-white/80 to-transparent"></div>
    </div>
    <div class="max-w-[1200px] mx-auto px-8 relative z-10">
        <div class="max-w-2xl">
            <span
                class="text-accent font-bold tracking-[0.2em] text-sm uppercase mb-6 block border-l-4 border-accent pl-4">Excelencia
                en Bienestar</span>
            <h1 class="text-gray-900 text-4xl md:text-7xl font-bold leading-[1.1] tracking-tight mb-8">
                Su movilidad, <br /><span class="text-accent">nuestra prioridad</span>.
            </h1>
            <p class="text-gray-600 text-xl font-light leading-relaxed mb-10 max-w-xl">
                En Ortopedia Carmen ofrecemos soluciones técnicas avanzadas y personalizadas para mejorar su calidad de
                vida y autonomía diaria.
            </p>
            <div class="flex gap-4">
                <a class="inline-block bg-primary text-white text-sm font-bold uppercase tracking-widest px-10 py-5 rounded-md hover:bg-brand-bg transition-all shadow-lg"
                    href="#catalogo">
                    Ver Catálogo
                </a>
                <a class="inline-block bg-white text-gray-900 border-2 border-primary text-sm font-bold uppercase tracking-widest px-10 py-5 rounded-md hover:bg-gray-50 transition-all"
                    href="#visitanos">
                    Donde estamos
                </a>
            </div>
        </div>
    </div>
</section>